@page "/LoginEmployee"
@model ContosoPizza.Pages.LoginEmployee.LoginEmployeeModel
@{
    ViewData["Title"] = "Login";
}


<form method="post" class="height-min-1000 text-center column mx-auto col-md-5" style="padding-top:100px;">
    <h1 class="text-center" style="padding-bottom:20px">Login</h1>
    <div style="border:5px solid white" class="col-md-12">
        <div class="mb-3" style="padding-top:10px">
            <label for="email" class="form-label">Email:</label>
            <input placeholder="Enter your employee's email" type="email" class="form-control text-center only-input" id="email" name="Email" required />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input placeholder="Enter your password" type="password" id="password" class="form-control text-center only-input" name="Password" required />
        </div>
        <div class="mb-3">
            <input type="submit" value="Login">
        </div>
    </div>
    <div class="text-center" style="color:black; font-weight:bold; padding-top:10px">This property belongs to Pizza Delicious' employees only</div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            var errorMessage = '@TempData["ErrorMessage"]';

            if (errorMessage !== '' || tempDataErrorMessage!='') {
                $('#errorModal').modal('show');
            }
            $('#errorModal .close').click(function () {
                $('#errorModal').modal('hide');
            });
            $('#errorModal button[data-dismiss="modal"]').click(function () {
                $('#errorModal').modal('hide');
            });
        });
    </script>
}
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body alert">
                @TempData["ErrorMessage"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
