@page
@model ContosoPizza.Pages.DeliveryMethods.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeliveryMethod</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryMethod.Method)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryMethod.Method)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryMethod.Price)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.DeliveryMethod.Price)
        </dd>
    </dl>
</div>
<div>
    <a>
        <a class="btn btn-primary btn-icon-split" asp-page="./Edit" asp-route-id="@Model.DeliveryMethod?.Id">
            <span class="icon text-white-50">
                <i class="fas fa-flag"></i>
            </span>
            <span class="text min-width-button-CRUD">Edit</span>
        </a>
    </a> |
    <a class="btn btn-primary" asp-page="./Index">Back to list</a>
</div>
